  .section-advantages {
    padding-top: 40px;
    padding-bottom: 40px;
  }


/* .avantages-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
    
   
} */



.advantages-text-wrapper {
    padding:80px 20px;
    margin-bottom: 20px;
    border-radius: 24px;
    background-color:#1B414B;
}

.visully-hidden-advantages {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    padding: 0;
    margin: 0;
    /* counter-reset: 01;*/
    list-style-type: none; 
    counter-reset:  item;
    /* list-style-type: decimal-leading-zero;  */
    list-style-position: inside;
}
.advantages-item::before {
    content: '0' counter(item);
    counter-increment: item;
    position: absolute;
    top: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    
}

.advantages-item::after {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 18px;
    background-color: rgba(251, 251, 251, 0.1);
    position: absolute;
    top: 46px;
   
}

.advantages-item {
    position: relative;
    padding-top:66px;

}
.advantages-item:not(:last-child) {
    margin-bottom: 40px;
}

.advantages-text {  
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .section-advantages {
        padding-top: 75px;
        padding-bottom: 75px;
      }
      
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 44px;
        column-gap: 32px;
   }
   .advantages-item {
        width: calc((100% - 32px) / 2);
        padding-top: 70px;
   }

   .advantages-item:not(:last-child) {
    margin-bottom: 0px;
}

   .advantages-text-wrapper {
        padding:90px 32px;
        margin-bottom: 32px;
       
}

    .advantages-item::before {
        font-weight: 500;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.05em; 
    }

    .advantages-text { 
        max-width: 292px;
        font-size: 13px;
        line-height: 1.15;

    }
}

@media screen and (min-width: 1280px) {
    .advantages-container {
        display: flex;
        /* flex-wrap: wrap; */
        gap: 32px;

    }

    .advantages-text-wrapper {
        margin-bottom: 0px;
       
}

    .advantages-text-wrapper {
        width: 716px;
    }
}

@media screen and (min-width: 1440px) {
   
    .advantages-container {
      max-width: 1370px;

    }
    .advantages-text-wrapper {
        width: 768px;
    }
}

/* .advantages-item::marker {
    font-size: 36px;
    
}  */


/* .advantages-item {
    list-style-type: decimal-leading-zero;
    
} */
/* .advantages-item::marker {
    white-space: pre-wrap;
    content: "";
    color: orange;
    font-size: 36px;
  } */

/* 
.avantages-list {
 max-width: 335px; 
list-style-type: none;
background-color: #1B414B;
border-radius: 18px;
margin-top: 0;
    margin-bottom: 20px;

padding: 80px 20px 80px 20px;

}
.avantages-list> :not(:last-child) {
    margin-bottom: 40px;
}

.rounded-rectangle {
    background-color: #FBFBFB;
    background-color: rgba(251, 251, 251, 0.1);
    max-width: 250px;
    height: 2px;
    border-radius: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.avantages-subtitle {
font-style: Inter;
font-weight: 500;
font-size: 28px;
line-height: 1;
letter-spacing: -0.05;




}
.avantages-text {
color: #FBFBFB;;
font-style: Inter;
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: -0.02;
max-width: 250px;
overflow-wrap: break-word;

}
.advantages-image {
height: 424px;

}
.avantages-list,
.advantages-image img {
    width: 100%;
}


@media screen and (min-width: 768px) {
    .section-advantages {
            padding-top: 75px;
            padding-bottom: 75px;
            
        }
    .avantages-container {
        min-width: 734px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;
       }
     .avantages-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        max-width: 704px;
        
        padding: 90px 32px 90px 32px;
        margin-bottom: 32px;
        
    }
       .avantages-item {
        width: 304px; 
        height: 85px;
     }
        .rounded-rectangle {
        max-width: 304px;
        }

        .advantages-image {
             flex: 1;
             width: 100%;
             background-size: cover;
             background-position: center;
             height: 424px;
             width: 704px;
         }

         .avantages-subtitle {
         font-size: 32px;
         line-height: 32px;
         letter-spacing: -0.05;
         }
                 .avantages-text {
                     font-size: 13px;
                     line-height: 1.15;
                    overflow-wrap: break-word;
                 }
         
}



@media screen and (min-width: 1280px) {
    .avantages-container {
        align-items: center;
        min-width: 1180px;
        max-width: 1280px;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
          
      }
          .avantages-list .avantages-item {
            
              margin-bottom: 0;
          }
          
           
    .avantages-list {
            
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 717px;
                min-height: 424px;
                gap: 40px 30px;
                padding: 90px 50px 90px 50px;
                margin-bottom: 0;
            }

        .rounded-rectangle {
                min-width: 280px;
            }
        
        .advantages-image {

            min-height: 424px;
            width: 432px;
            object-fit: cover;
            flex-shrink: 0;
               }
            .avantages-text {
                max-width: 292px;
                max-height: 60px;
            overflow-wrap: break-word;
            }
            .avantages-item {
                max-height: 85px;
            }
    
     }

         @media screen and (min-width: 1440px) {
            .avantages-container {
                max-width: 1380px;
                margin-left: auto;
                margin-right: auto;
                
            }
            .avantages-list {
                padding-right: 16px;
                
            }
            .advantages-image {
                min-width: 540px;
            }
            
         } */


        



         