
.section-reviews {
  padding-top: 40px;
  padding-bottom: 40px;

} 


.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 25px;
  /* margin-top: 40px; */
}

.reviews-title-text {
  text-align: center;
  color: #fbfbfb;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  opacity: 0.4;
  text-align: center;
  margin-bottom: 40px;
   /* margin-top: 25px;
  z-index:-1; */
}



/*
.reviews-list-item {
  max-width: 335px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 24px;
  padding: 32px 8px;
  margin: 0 auto;
}

*/
.reviews-list-item {
padding:32px 15px;
background-color: #fbfbfb;
border-radius: 24px;
}
.reviews-img {
 margin-inline: auto;
 margin-bottom: 24px;
}

.reviews-name {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  padding-bottom: 8px;
  
}

.reviews-text {
  font-size: 16px;
  line-height: 1.4;
  /* max-width: 303px; */
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  letter-spacing: -0.04em;
}

/* .reviews-viktoria {
  display: none;
}
.reviews-ihor {
  display: none;
} */


/* .container-reviews .swiper-button-prev {

  background-color:#1b414b63;

}
.container-reviews .swiper-button-next {

  background-color:#1b414b63;

} */

@media screen and (min-width: 768px) {
  .section-reviews {
    padding-top: 75px;
    padding-bottom: 75px;
    
  }
  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .reviews-title {
    font-size: 48px;
  }
  .reviews-title-text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.02em;
  }
  /* div.reviews-title-text {
    letter-spacing: -0.02em;
  } */

  .reviews-list {
    display: flex;
   
  }

  .reviews-viktoria {
    display: block;
  }
}


@media screen and (min-width: 1280px) {
  
  .reviews-title {
    max-width: 854px;
    margin-inline: auto;
    
  }

  .reviews-title-text {
    max-width: 571px;
    margin-inline: auto;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
   
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 26px;
  }
  .reviews-list-item {
    padding: 0;
    /* width: calc((100% - 52px) / 3); */
    padding: 32px 28px;
  }
  .reviews-ihor {
    display: block;
  }
} 

@media screen and (min-width: 1440px) {
  
  .container-reviews {
    max-width: 1270px;
  }

  .reviews-list-item {
    padding: 0;
    /* width: calc((100% - 52px) / 3); */
    padding: 32px 36px;
  }

}
